body {
	background: #000;
}

hr {
	visibility:hidden; margin-bottom:-1.93%;
}

input {
	position: relative;
	top: 40px;
	left: 45%;
	width: 100px;
}

#main {
	position: relative;
	width: 960px;
	height: 960px;
	margin: 60px auto;
	color: #fff;
}

#main:before {
	position: absolute;
	top:-80px;
	left: 35%;
	content:"Hit ESC key to reset, or press 'Reset'";
	font-size: 20px;
}

.div {
	background: #fff;
	display: inline-block;
}

.color {
	background: #333;
}